@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Skranji&display=swap");

:root {
  font-size: 16px;
  --background: #efefef;
  --accent: #874f4a;
}

* {
  font-family: "Oxygen", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--background);
}

header {
  width: 50%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) -50%,
      rgba(0, 0, 0, 0) 10%
    ),
    url("./bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

header img {
  height: 80px;
}

header h1 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  position: relative;
  top: 25vh;
}

header h1 span {
  font-family: inherit;
  letter-spacing: 0.3rem;
  font-size: 4rem;
}

header a:link,
header a:visited {
  color: inherit;
}

header a:hover {
  color: #ddd;
}

header > span {
  font-size: 0.8rem;
}

h1 {
  font-family: "Skranji", sans-serif;
}

#content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 100px;
}

main > p {
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 70%;
  margin-left: 28px;
}

main > span {
  margin-left: 28px;
}

button {
  padding: 10px 32px;
  background-color: var(--accent);
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 28px;
  font-size: 1.05rem;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

button:hover {
  color: var(--accent);
  background-color: #fff;
}

.card {
  background: #fff;
  padding: 24px;
  padding-left: 32px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  margin-top: 36px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card h3 {
  font-size: 1.5rem;
}

.form-line {
  display: flex;
  gap: 64px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-item label {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.form-item input {
  width: 300px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form-item input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input:invalid {
  border: 1px solid red;
}
